<div class="container">
    <h2>Vertical (basic) form</h2>
    <form>
      <div class="form-group">
        <label for="username">Email:</label>
        <input type="text" class="form-control" id="username" name="username" [(ngModel)]="userData.name" required>
      </div>
      <div class="form-group">
        <label for="imageURL">Image URL:</label>
        <input type="text" class="form-control" id="imageURL" name="imageURL" [(ngModel)]="userData.image" ngModel required >
      </div>
      <div *ngIf="!editMode; else editModeBtns" >
          <button type="submit" class="btn btn-success">Add User</button>
        </div>
        <ng-template #editModeBtns>
            <button type="submit" class="btn btn-primary">Update</button> |
            <button type="submit" class="btn btn-danger">Delete</button>
      </ng-template>
    </form>
</div>