<!-- <p>notes-start works!</p> -->
<div class="container">
    <div class="heading">
        <div class="left">
            <div class="title">KEEP Notes</div>
        </div>
        <div class="right">
            <div><i class="fa fa-search" aria-hidden="true"></i></div>
            <div><i class="fa fa-external-link" aria-hidden="true"></i></div>
            <div><i class="fa fa-times" aria-hidden="true"></i></div>
        </div>
    </div>

    <div class="add-new">
        <div class="left" (click)="onAddEmptyNote()">
            <div><i class="fa fa-plus-square-o" aria-hidden="true"></i></div>
            <div class="take-note">
                <p>Take a note...</p>
            </div>
        </div>
        <div class="right">
            <div><i class="fa fa-check-square" aria-hidden="true"></i></div>
        </div>
    </div>
    <button class="btn btn-success" (click)="onSaveClick()" >Save</button>

    <!-- <app-card-item></app-card-item> -->
    <div *ngFor="let note of notesList">
        <!-- <p>new note</p> -->
        <div class="note-item">
            <div class="top">
                <div class="title">
                    <input type="text" placeholder="title">
                </div>
                <div class="icons">
                    <i class="fa fa-trash" (click)="onDelete(note)"></i>
                    <i [ngStyle]="{color:note.isPinned?'#1a73e8':null}" 
                    class="fa fa-thumb-tack"
                    (click)="onPinClick(note)"
                    ></i>
                </div>
            </div>
            <div class="description">
                <textarea></textarea>
            </div>
            <div class="bottom">
                <button class="btn btn-default">Done</button>
            </div>
        </div>
    </div>
</div>