.container{
    // border: 1px solid black;
    // margin: 10px;
    margin: 10px auto;
    width: 80%;

    .btn:focus,.btn:active {
        outline: none !important;
        box-shadow: none;
     }
}

.heading {
    // border: 1px solid black;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    padding        : 10px;

    .left {
        // border: 1px solid red;
    }

    .right {
        // border: 1px solid blue;
        display: flex;

        i {
            padding: 10px;
            font-size: 1rem;
        }
    }
}

.add-new {
    // border: 1px solid red;
    display        : flex;
    justify-content: space-between;

    i{
        font-size: 1.5rem;
    }

    .left {
        display        : flex;
        justify-content: center;
        align-items    : center;
        border-radius: 10px;
        transition: .5s;
        // border         : 1px solid blue;

        &:hover {
            cursor: pointer;
            background   : var(--igsDarkgray);
        }

        div {
            padding: 10px;
        }

        .take-note p {
            // border: 1px solid red;
            margin-bottom: 0;
            // padding: 0px 5px;
        }

        
    }
    
    .right {
        display: flex;
        padding: 10px;
    }
}

.note-item{
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    width: 100%;

    div{
        margin: 5px 0;
        width: 100%;
    }

    .top{
        display: flex;
        justify-content: space-between;
        width: 100%;
        
        .title{
            width: 80%;
        }
        
        .title input{
            border: none;
            width: 100%;
            transition: .5s;
            font-weight: 400;
            font-size: 1.2rem;
            
            &:focus{
                border-bottom: .5px solid darkgray;
                outline: none;
            }
        }
        
        .icons{
            width: 20%;
        }
        
        .icons i{
            margin: 0 5px;
            font-size: 1.5rem;
        }
    }
    
    .description textarea{
        border: none;
        width: 100%;
        min-height: 100px;
        resize: none;

        &:focus{
            outline: none;
        }
    }

    .bottom button{
        background: lightgray;
    }
}