<!-- <p>notes-start works!</p> -->
<div class="container">
    <div class="heading">
        <div class="left">
            <div class="title"><i class="fa fa-lightbulb-o" aria-hidden="true"></i>KEEP Notes</div>
        </div>
        <div class="right">
            <div>
                <input type="text" placeholder="search your notes..." [(ngModel)]="searchNoteInput">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    <div *ngIf="!emptyNoteAdded" class="add-new">
        <div class="left" (click)="onAddEmptyNote()">
            <div class="mt-2 p-1"><i class="fa fa-plus-square-o" aria-hidden="true"></i></div>
            <p class="px-2">Take a note...</p>
        </div>
        <div class="right mt-2">
            <i class="fa fa-check-square" aria-hidden="true"></i>
        </div>
    </div>
    <!-- <div class="api-btn-group my-2">
        <button class="btn btn-success mx-2" (click)="onSaveAllData()" >Save All</button>
        <button class="btn btn-primary" (click)="onGetAllNotesClick()" >Get All</button>
    </div> -->


    <ng-container *ngIf="!isLoading; else loadingBlock">
        <div *ngFor="let note of notesList | filterNotes:searchNoteInput">
            <!-- <p>new note</p> -->
            <div class="note-item" [ngClass]="{'item-active':note.isActive}" 
                (mouseover)="note.isActive = true"
                (mouseout)="note.isActive = false">
                <div class="top">
                    <div class="title">
                        <input type="text" [(ngModel)]="note.title" placeholder="Title" 
                            (focus)="note.isActive = true"
                            (focusout)="note.isActive = false"
                            (ngModelChange)="note.isSaved = false; emptyNoteAdded = false">
                    </div>
                    <div class="icons">
                        <i class="fa fa-trash" title="Delete this note" (click)="onDelete(note)"></i>
                        <i [ngClass]="{'pinned':note.isPinned}" class="fa fa-thumb-tack" 
                        [title]= "note.isPinned ? 'Unpin this note' : 'Pin this note'"
                        [ngStyle]="{color:note.isPinned?'#1a73e8':null}"
                        (click)="onPinClick(note)"></i>
                    </div>
                </div>
                <div class="description">
                    <textarea [(ngModel)]="note.description" 
                        (focus)="note.isActive = true"
                        (focusout)="note.isActive = false" (ngModelChange)="note.isSaved = false; emptyNoteAdded=false"
                        placeholder="take a note..."></textarea>
                </div>
                <div class="bottom">
                    <button class="btn btn-default" (click)="onSaveAllData()">Done</button>
                    <p *ngIf="!note.isSaved && (note.title.length > 0 || note.description.length>0)"
                        class="text-danger my-2">Not Saved !</p>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #loadingBlock>
        <div class="note-item" *ngFor="let n of [1,2,3,4]">
            <div class="top">
                <div class="title">
                    <input class="shine" type="text" placeholder="">
                </div>
            </div>
            <div class="description">
                <textarea class="shine"></textarea>
            </div>
            <div class="bottom">
                <button class="btn btn-default shine" (click)="onSaveAllData()"></button>
                <!-- <p class="text-danger my-2">Not Saved !</p> -->
            </div>
        </div>
    </ng-template>
</div>