.card{
    font-size: 1.6rem;
    
    .card-title{
        font-size: 2rem;
    }

    .card-body{
        font-size: 1.2rem;
    }
    

    a{
        font-size: 1.6rem;
    }

    img{
        height: 200px;
    }
}