<!-- <p>books-start works!</p> -->
<div class="container">
    <div class="row">
        <div class="heading">
            <h1>Guttenberg Project</h1>
            <p>A social cataloging website that allows you to
                freely search its database of books,
                annotations, and reviews.
            </p>
        </div>
    </div>
    
    <div class="row">
        <div class="cards-list" (click)="onGenreCardClick($event)" >
            <div class="card" data-genre="fiction" >
                <p><img src="../assets/icons/Fiction.svg" alt="next" height="20" width="20"> Fiction</p>
                <p>
                    <img src="../assets/icons/Next.svg" alt="next" height="20" width="20">
                </p>
            </div>
            <div class="card" data-genre="philosophy">
                <p><img src="../assets/icons/Philosophy.svg" alt="next" height="20" width="20"> Philosophy</p>
                <p>
                    <img src="../assets/icons/Next.svg" alt="next" height="20" width="20">
                </p>
            </div>
            <div class="card" data-genre="drama">
                <p><img src="../assets/icons/Drama.svg" alt="next" height="20" width="20"> Drama</p>
                <p>
                    <img src="../assets/icons/Next.svg" alt="next" height="20" width="20">
                </p>
            </div>
            <div class="card" data-genre="history">
                <p><img src="../assets/icons/History.svg" alt="next" height="20" width="20"> History</p>
                <p>
                    <img src="../assets/icons/Next.svg" alt="next" height="20" width="20">
                </p>
            </div>
            <div class="card" data-genre="humor">
                <p><img src="../assets/icons/Humour.svg" alt="next" height="20" width="20"> Humour</p>
                <p>
                    <img src="../assets/icons/Next.svg" alt="next" height="20" width="20">
                </p>
            </div>
            <div class="card" data-genre="adventure">
                <p><img src="../assets/icons/Adventure.svg" alt="next" height="20" width="20"> Adventure</p>
                <p>
                    <img src="../assets/icons/Next.svg" alt="next" height="20" width="20">
                </p>
            </div>
            <div class="card" data-genre="politics">
                <p><img src="../assets/icons/Politics.svg" alt="next" height="20" width="20"> Politics</p>
                <p>
                    <img src="../assets/icons/Next.svg" alt="next" height="20" width="20">
                </p>
            </div>
        </div>
    </div>
</div>