.restaurant{
    // border: 1px solid red;
    border-radius: 10px;
    width: 300px;
    margin: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    // height: 200px;

    &:hover{
        transform: scale(1.02);
    }
}

input, button{
    font-size: 1.6rem;
}