<div class="restaurants-wrapper">
    <div class="row my-3 mx-1">
        <div class="form-inline">
            <input class="form-control mr-sm-2" [(ngModel)]="searchBrandName" type="text"
                placeholder="Search for brand">
            <button class="btn btn-success" type="submit" (click)="sortByStars()" >Sort By Stars</button>
        </div>
    </div>
    <div class="row">
        <div class="restaurant"
            *ngFor="let restaurant of allRestaurants | nameFilterPipe:searchBrandName; let id = index">
            <app-restaurant-item [restaurant]="restaurant" [restaurantId]="id"></app-restaurant-item>
        </div>
    </div>
</div>