<!-- <p>books-list works!</p> -->
<div class="books-list-top">

    <div class="list-heading">
        <p>
            <a routerLink="../">
                <img src="../../../assets/icons/Back.svg" alt="next" height="20" width="20">
            </a>
            {{genre}}
        </p>
    </div>
    <div class="search-book">
        <form>
            <div class="input-group" [ngStyle]="{'border': searchInputFocused ? '1px solid var(--igsBlue)': 'none'}">
                <div class="input-group-btn">
                    <button id="searchBtn" class="btn btn-default"
                        (click)="onSearchQueryChange($event); isLoading = searchQuery.length>0"><i
                            class="fa fa-search"></i></button>
                </div>
                <input type="text" class="form-control" name="searchQuery" placeholder="Search"
                    [(ngModel)]="searchQuery" (focus)="searchInputFocused=true" (focusout)="searchInputFocused=false"
                    (ngModelChange)="onSearchQueryChange($event); isLoading=true" ngModel required>
                <div *ngIf="searchQuery.length>0" class="input-group-btn">
                    <button id="clearInputBtn" class="btn btn-default"
                        (click)="searchQuery=''; onSearchQueryChange($event); isLoading=true"><i
                            class="fa fa-times"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container">

    <div *ngIf="isLoading" class="spinner-wrapper">
        <app-loading-spinner></app-loading-spinner>
    </div>

    <h1 *ngIf="booksList.length === 0 && !isLoading; else showResultsMsg">No books found!</h1>
    <ng-template #showResultsMsg>
        <h3 *ngIf="searchQuery.length > 0 && !isLoading" >Showing results for {{searchQuery}} </h3>
    </ng-template>
    <div class="book-cards-list" *ngIf="!isLoading">
        <ul *ngIf="booksList.length > 0" (click)="onBookCardClick($event, book)">
            <!-- img, title and author -->
            <li class="book-card" *ngFor="let book of booksList; let i=index" [attr.data-bookid]="book.id">
                <p>
                    <img src="{{getImageUrl(i)}}" loading="lazy" alt="book-cover">
                </p>
                <p class="title"> {{book.title}}</p>
                <p class="author"> {{getDisplayNameOfAuthor(book.authors)}}</p>
            </li>
        </ul>
        <div class="load-more" id="loadMoreSpinner" #loadMoreSpinner >
        </div>
    </div>
</div>