.books-list-top{
    background: #fff;
    padding-bottom: 10px;
    margin: 8px 2px;
    // border: 1px solid red;
    .list-heading, .search-book {
        margin: 0 auto;
        width: 90%;
        p {
            color      : var(--igsBlue);
            font-size  : 20px;
            font-weight: 500;
        }
    }
    
    .input-group {
        background   : var(--igsMediumGray);
        padding      : 0 10px;
        max-height   : 50px;
        border-radius: 4px;
    
    
        button {
            i {
                margin-top: 5px;
                font-size : 1.3rem;
                color     : var(--igsDarkgray);
            }
    
            &:focus,
            &:active {
                outline   : none;
                box-shadow: none;
            }
        }
    
        input {
            background : var(--igsMediumGray);
            color      : var(--igsBlack);
            font-size  : 20px;
            font-weight: 500;
            outline    : none;
            border     : none;
    
            &:focus {
                box-shadow: none;
            }
        }
    
    }
}

.container {

    margin-top: 20px;
    
    .book-cards-list {
        margin           : 10px 0px;

        ul {
            // border        : 1px solid black;
            display       : flex;
            flex-direction: row;
            flex-wrap     : wrap;
            justify-content: center;
            padding       : 2px;

            .book-card {
                list-style-type: none;

                width       : 130px;
                height      : 225px;
                overflow    : hidden;
                // border   : 1px solid red;
                padding     : 4px;
                margin      : 4px;
                cursor      : pointer;
                transition  : .3s all;

                &:hover {
                    transform: scale(1.1);
                }

                img {
                    height       : 162px;
                    width        : 114px;
                    border-radius: 8px;
                }

                p {
                    margin     : 2px;
                    font-size  : 12px;
                    font-weight: bold;
                }

                p.title {
                    text-transform: uppercase;
                }

                p.author {
                    color: var(--igsDarkgray);
                }


            }


        }

    }

    .spinner-wrapper {
        // border: 1px solid red;
        height         : 50vh;
        display        : flex;
        justify-content: center;
        align-items    : center;
    }

    .load-more {
        // border: 1px solid red;
        height: 40px;
        display        : flex;
        justify-content: center;
        align-items    : center;
        font-weight    : 500;
    }
}