<!-- <p>books-list works!</p> -->
<div class="container">
    <div class="list-heading">
        <p>
            <a routerLink="../">
                <img src="../../../assets/icons/Back.svg" alt="next" height="20" width="20">
            </a>
            {{genre}}
        </p>
    </div>

    <div>
        <form>
            <div class="input-group" [ngStyle]="{'border': searchInputFocused ? '1px solid var(--igsBlue)': 'none'}">
                <div class="input-group-btn">
                    <button id="searchBtn" class="btn btn-default"
                        (click)="onSearchQueryChange($event); isLoading=true"><i class="fa fa-search"></i></button>
                </div>
                <input type="text" class="form-control" name="searchQuery" placeholder="Search"
                    [(ngModel)]="searchQuery" (focus)="searchInputFocused=true" (focusout)="searchInputFocused=false"
                    (ngModelChange)="onSearchQueryChange($event); isLoading=true" ngModel required>
                <div *ngIf="searchQuery.length>0" class="input-group-btn">
                    <button id="clearInputBtn" class="btn btn-default"
                        (click)="searchQuery=''; onSearchQueryChange($event); isLoading=true"><i
                            class="fa fa-times"></i></button>
                </div>
            </div>
        </form>
    </div>


    <div *ngIf="isLoading" class="spinner-wrapper">
        <app-loading-spinner></app-loading-spinner>
    </div>

    <div class="books-list-container" *ngIf="!isLoading">
        <div class="books-list">
            <!-- img, title and author -->

            <ul>
                <li *ngFor="let book of booksList" (click)="onBookCardClick(book)" class="book-card">
                    <p>
                        <img src="https://www.gutenberg.org/cache/epub/61207/pg61207.cover.medium.jpg" loading="lazy"
                            alt="book-cover">
                    </p>
                    <p class="title"> {{getDisplayTitleOfBook(book.title)}}</p>
                    <p class="author"> {{getDisplayNameOfAuthor(book.authors[0]?.name)}}</p>
                </li>
            </ul>

        </div>

        <div class="load-more" *ngIf="apiResponse.next">
            <p>
                <button class="btn btn-primary" (click)="onLoadMoreClicked($event)">Load More...</button>
            </p>
        </div>
    </div>
</div>