.flex-container{
    display: flex;
    width: 98vw;
    height: 84vh;
    margin: 4px;
}

.users{
    width: 60%;
    padding: 5px 5px;
    display: flex;
    // border: 1px solid red;
    height: 100%;
    overflow: auto;
}

.user-interaction{
    width: 40%;
    // border: 1px solid cyan;
}