.flex-container{
    display: flex;
    width: 98vw;
    height: 84vh;
    margin: 4px;
    // overflow: scroll;
}

.users{
    width: 60%;
    padding: 5px 5px;
    display: flex;
    // border: 1px solid red;
    height: 100%;
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
    &::-webkit-scrollbar{
        display: none;
    }
}

.user-interaction{
    width: 40%;
    // border: 1px solid cyan;
}