/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~ngx-toastr/toastr";

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

p{
    margin: 0;
}

:root{
    --igsBlue:#5E56E7;
    --igsDarkgray: #A0A0A0;
    --igsMediumGray: #F0F0F6;
    --igsLightGray: #F8F7FF;
    --igsBlack:#333333;
}

i{
    cursor: pointer;
    font-size: 1.5rem;
}

.toast-top-center{
    top:10px;
}